<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
    <title>LamdaTest {% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="nav-bar">

        <a href="/"><img src="https://www.lambdatest.com/resources/images/logos/logo.svg" alt="Logo" width="147"
                height="26" class="logo" id="LambdaTestLogo"></a>



        <div id="main-option-container">
            <a href="/">Home</a>
            {% if not "user_id" in session %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {% endif %}
            {% if "user_id" in session %}
            <a href="/logout">Logout</a>
            {% endif %}
        </div>

        <button id="select-display">
            <img src="/static/icons/smallHamburguer.png" alt="" class="logo">
        </button>

    </nav>


    <div class="display-option hidden">
        <a href="/">Home</a>
        {% if not "user_id" in session %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}

        {% if "user_id" in session %}
        <a href="/logout">Logout</a>
        {% endif %}
        {% if session.get('user_id')==9 %}
        <a href="/dev">Dev</a>
        {% endif %}

    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

    {% for category, message in messages %}

    <div class="{{ category }}">
        {{ message }}
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}


    {% block content %}
    {% endblock %}
    
<footer>
    <div class="github-contact">
  
      <a href="https://education.github.com/globalcampus/octernships">
        <img src="/static/icons/GitHub.png" alt="" class="logo " id="github">
  
      </a>
      <div id="myprofile">
        <a href="https://github.com/AngelCorona117">
          <img src="/static/icons/Profile.png" alt="" class="logo " id="profile">
          <span id="profile-text">My profile</span>
        </a>
      </div>
  
    </div>
  
    <div class="github-contact">
      <a href="https://www.lambdatest.com/"><img src="https://www.lambdatest.com/resources/images/logos/logo.svg"
          alt="Logo" width="147" height="26" class="logo" id="footerLambda"></a>
    </div>
  
    <div class="github-contact">
  
      <a href="https://www.linkedin.com/in/%C3%A1ngel-corona-62b924268/">
        <img src="/static/icons/Logo-Linkedin.png" alt="" class="logo " id="linkedin">
  
      </a>
      <div id="myprofile">
        <a href="mailto:319219247@fa.unam.mx">
          <span id="profile-text">319219247@fa.unam.mx</span>
        </a>
      </div>
  
    </div>
  
  </footer>
    <script src="{{ url_for('static', filename='events.js') }}"></script>
</body>

</html>