{% extends "layout.html" %}

{% block title %}
register
{% endblock %}

{% block content %}
<div class="box">
    <div class="hero">
        <h2>Register</h2>
    </div>

    <form action="/register" method="post">
        <div class="inputBox">
            <input autocomplete="off" autofocus class="" id="username" name="username" type="text" required>
            <span>Username</span>
        </div>
        <div class="inputBox">
            <input autocomplete="off" autofocus class="" id="password" name="password" type="password" required
                minlength="8">
            <span>Password</span>
        </div>
        <div class="inputBox">
            <input autocomplete="off" autofocus class="" id="confirmation" name="confirmation" type="password" required
                minlength="8">
            <span>Confirm Password</span>
        </div>


        <button class="btn border" type="submit">Register</button>
    </form>
    <div class="alternative">
        <span>Already registered?</span>
        <a href="/login">Log in</a>
    </div>

</div>

{% endblock %}